

<div class="page-content container-fluid ">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="col-12">
            <div class="card card-body">
                <h1 align="center"> CHANGE PASSWORD </h1>
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        <p style="color:red"><%= message %></p>
                        <p style="color:green" id="successMsg"><%= success %></p>
                        <!-- Form -->
                        <form class="col-12" action="/admin/changepassword" method="post">
                            <!-- email -->
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="password" required
                                        placeholder="Old Password" name="oldpassword">
                                        <% if(error && error.errorData) {
                                            for(let val of error.errorData) {
                                                if(val.context.key == 'oldpassword') { %>
                                                    <p style="color:red" ><%= val.message %></p>
                                               <% }
                                            }
                                        } %>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="password" required
                                        placeholder="New password" name="password">
                                        <% if(error && error.errorData) {
                                            for(let val of error.errorData) {
                                                if(val.context.key == 'password') { %>
                                                    <p style="color:red" ><%= val.message %></p>
                                               <% }
                                            }
                                        } %>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control form-control-lg" type="password" required
                                        placeholder="Confirm password" name="confirmpswrd">
                                        <% if(error && error.errorData) {
                                            for(let val of error.errorData) {
                                                if(val.context.key == 'confirmpswrd') { %>
                                                    <p style="color:red" ><%= val.message %></p>
                                               <% }
                                            }
                                        } %>
                                </div>
                            </div>
                            <!-- pwd -->
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-block btn-lg btn-danger" type="submit"
                                        name="action">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="card-columns el-element-overlay">
                    
                </div>
        </div>
    </div>
    <!-- row -->

</div>

<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script>
    $('#successMsg').fadeOut(5000)
</script>